{% extends "nav_base.html" %}

{% block content %}

<div class="container text-center">
    <div class="row">
        <div class="col-md-7 col-sm-12  text-white">
            <h6>AUTORES: </h6>
            <h6>Chung Alvarez, Alex Steve</h6>
            <h6>Condori Muñoz, Rommel Yoshimar</h6>
            <h2>LICENCIA</h2>
            <p>
                El proyecto tiene licencia MIT,la cual es una Licencia de software libre permisiva lo que
                significa que impone muy pocas limitaciones en la reutilización y por tanto posee una excelente
                Compatibilidad de licencia. La licencia MIT permite reutilizar software dentro de software
                propietario.
                Por otra lado, la licencia MIT es compatible con muchas licencias copyleft, como la GNU.
                El texto de la licencia no tiene copyright, lo que permite su modificación. No obstante esto,
                puede ser no recomendable e incluso muchas veces dentro del movimiento del software de código
                abierto desaconsejan el uso de este texto para una licencia, a no ser que se indique que es una
                modificación, y no la versión original.
            </p>

            <a class="btn btn-light px-5 py-2 primary-btn"
                href="https://github.com/AlexChungA/CC471-Biolog-aComputacional-Proyecto">Repositorio</a>

        </div>
        <div class="col-md-5 col-sm-12  h-25">
            <img src="{{url_for('static',filename='/assets/virus.png')}}" alt="Virus" />
        </div>
    </div>
</div>

{% endblock %}