{% extends "nav_base.html" %} {% block content %}
<div class="container text-center">
    <div class="row">
        <div class="col-md-7 col-sm-12  text-white">
            <h2>Análisis de Proteinas </h2>
            <p>
                Un alineamiento de secuencias en bioinformática es una forma de representar y comparar dos o más secuencias o cadenas de ADN, ARN, o estructuras primarias proteicas para resaltar sus zonas de similitud, que podrían indicar relaciones funcionales o evolutivas
                entre los genes o proteínas consultados.
            </p>

        </div>
        <div class="col-md-5 col-sm-12  h-25">
            <img src="/static/assets/seq_alignment.png" alt="alineamiento de secuencias" />
        </div>
    </div>
</div>
{% endblock %}