{% extends "nav_base.html" %} {% block content %}
<div class="container text-center">
    <div class="row">
        <div class="col-md-7 col-sm-12  text-white">
            <h2>Generación del Árbol Filogenético </h2>
            <p>
                Un árbol filogenético es un árbol que muestra las relaciones evolutivas entre varias especies u otras entidades que se cree que tienen una ascendencia común. Un árbol filogenético es una forma de cladograma.
            </p>
            <p>
                Además, un árbol filogenético, sirve para determinar el número mínimo de divisiones necesarias para obtener una célula o tejido determinado. A partir de aquí se pueden estudiar, por ejemplo, las mutaciones generadas a lo largo del proceso.
            </p>

        </div>
        <div class="col-md-5 col-sm-12  h-25">
            <img src="/static/assets/arbol_filogenetico.png" alt="arbol filogenetico" />
        </div>
    </div>
</div>
{% endblock %}