{% extends "nav_base.html" %}

{% block content %}

<div class="container text-center">
  <div class="row">
    <div class="col-md-7 col-sm-12  text-white">
      <h6>PROYECTO BIOLOGÍA COMPUTACIONAL</h6>
      <h1>ANÁLISIS DE INFORMACIÓN VIROLÓGICAS TRANSMITIDAS POR VECTORES</h1>

    </div>
    <div class="col-md-5 col-sm-12  h-25">
      <img src="/static/assets/virus.png" alt="Virus" />
    </div>
  </div>
</div>

{%endblock%}


{%block section%}
<section class="section-1">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-6 col-12">
        <div class="pray">
          <img src="/static/assets/zika.jpg" alt="Pray" class="" />
        </div>
      </div>
      <div class="col-md-6 col-12">
        <div class="panel text-left">
          <h1>Zika Virus</h1>
          <p class="pt-4">
            Es un virus del género Flavivirus, de la familia Flaviviridae, grupo IV del orden
            sin clasificar que se transmite por la picadura de mosquitos vectores del género Aedes
          </p>
          <p>
            En los seres humanos se produce la fiebre del Zika o enfermedad de Zika, la cual se
            conoce desde la década de 1950 como proveniente de la región ecuatorial que abarca de
            África a Asia. Su nombre proviene del bosque Zika, cerca de Entebbe (en Uganda), donde
            se aisló por primera vez este virus, en 1947.
            La enfermedad produce síntomas similares a formas leves de dengue, su tratamiento
            consiste básicamente en el reposo, y en la actualidad no existen medicamentos o vacunas
            para su prevención.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-1">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-6 col-12">
        <div class="pray">
          <img src="/static/assets/wnv_virus.jpg" alt="Pray" class="" />
        </div>
      </div>
      <div class="col-md-6 col-12">
        <div class="panel text-left">
          <h1>West Nile Virus</h1>
          <p class="pt-4">
            Es un virus que provoca la fiebre del Nilo Occidental. Esta enfermedad es una flavivirosis
            de origen africano subsahariano que produce encefalitis en equinos y también humanos,
            y que se ha extendido desde 1937 por el resto de África, Oriente Medio, Asia Menor y Europa
            Oriental, y muy recientemente por Extremo Oriente y Norteamérica, donde causa importantes
            mortandades en aves, especialmente en córvidos.
          </p>
          <p>
            El WNV puede propagarse en algunas ocasiones por otros medios. Por ejemplo, el WNV puede transmitirse a
            los humanos durante las transfusiones sanguíneas y trasplantes de órganos provenientes de donadores
            infectados. Asimismo, es posible que las mujeres embarazadas o lactando que se encuentren infectadas
            puedan transmitir el virus a sus bebés. Debido a su improbabilidad y al desconocimiento actual acerca de
            este riesgo y al hecho de que la lactancia tiene beneficios evidentes y perfectamente establecidos, no
            se recomienda que la madre deje de amamantar a su hijo.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-1">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-6 col-12">
        <div class="pray">
          <img src="/static/assets/chikungunya.jpg" alt="Pray" class="" />
        </div>
      </div>
      <div class="col-md-6 col-12">
        <div class="panel text-left">
          <h1>Chikungunya Virus</h1>
          <p class="pt-4">
            Es una enfermedad producida por el virus de tipo alfavirus del mismo nombre, que se transmite a las
            personas mediante la picadura de los mosquitos portadores del género Aedes; tanto Aedes aegypti como
            Aedes albopictus.
          </p>
          <p>
            Se transmite de manera similar al que produce la fiebre del dengue y causa una enfermedad con una fase
            febril aguda que dura de 2 a 5 días, seguida de un período de dolores en las articulaciones de las
            extremidades; este dolor puede persistir semanas, meses o incluso durante años en un porcentaje que
            puede rondar el 12 \% de los casos.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-1">
  <div class="container text-center">
    <div class="row">
      <div class="col-md-6 col-12">
        <div class="pray">
          <img src="/static/assets/Dengue.jpg" alt="Pray" class="" />
        </div>
      </div>
      <div class="col-md-6 col-12">
        <div class="panel text-left">
          <h1>Dengue Virus</h1>
          <p class="pt-4">
            es un arbovirus del género Flavivirus de la familia Flaviviridae. Posee cuatro serotipos inmunológicos:
            DENV-1, DENV-2, DENV-3, y DENV-4 causantes del dengue.
          </p>
          <p>
            Existe documentación de un posible quinto serotipo, DEN-5, el cual no ha sido aceptado ni comprobado
            dentro de la comunidad científica como un causante del dengue. Este virus es uno de los más mórbidos del
            mundo, con más de 100 millones de casos cada año, de su enfermedad en la forma benigna. Esta alta
            incidencia de casos ha favorecido la investigación para comprender el ciclo de vida del virus, y los
            medios de replicación de este virus son muy importantes para crear una vacuna.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{%endblock%}